<!-- your html code here -->
<div class="card1">
    <div class="card-heading">
      <h2 class="cardtittlewalter">Walter White ha escapado de la prisión </h2>
      <p class="card-text">Este famoso científico antiguo profesor de universidad fue detenido por la policía hace varios meses, y en un motín de la cárcel este prisionero escapó y actualmente está en búsqueda y captura.
          Si tiene algún tipo de información no dude en comunicarlo a su policía más cercana.
      </p>
    </div>
    <img src="./assets/img/1.jpg" class="rounded float-end" alt="...">
    
</div>
    
