<!-- your html code here -->
<h1 class="porfolio">Porfolio</h1>
<p class="porfoliotexto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<div class="container">
    <div class="row d-flex justify-content-center">
         <div class="card col-lg-4">
             <img class="card-img-top" src="https://picsum.photos/id/237/300/200" alt="Card image cap">
             <div class="card-body">
                <h5 class="card-title">Project</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                
             </div>
        </div>
        <div class="card col-lg-4" >
             <img class="card-img-top" src="https://picsum.photos/id/237/300/200" alt="Card image cap">
             <div class="card-body">
                <h5 class="card-title">Project</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
               
             </div>
        </div>
        <div class="card col-lg-4" >
             <img class="card-img-top" src="https://picsum.photos/id/237/300/200" alt="Card image cap">
             <div class="card-body">
                <h5 class="card-title">Project</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              
             </div>
        </div>
    </div>  
 </div>