<!-- your html code here -->
<div class="card2">
    <div class="fotos">
        <img src="./assets/img/2.jpg" alt="..." class="fotorounded" width="400px" height="400px">
      </div>
    <div class="card-service" >
      <h2 class="cardtittlewalter">Probando a escribir un poco con foto chula también </h2>
      <p class="card-text">Podemos ver en esta otra opción que con un poco de paciencia y otro poco de mecanografía vendo un teclado
          de segunda mano de apple barato barato me lo quitan de las manos
      </p>
    </div>
    
</div>
